html,body {
	height: 100%;
}

nav{
	background-color: #99ccff;
}
header{
	position: relative;
	overflow: visible;
}
main{
	/*height: calc( 100% - 40px );*/
	height: 100%;
	position: relative;
}
#map-canvas{
	height: 100%;
	width: 100%;
}
.fill { 
    min-height: 100%;
    height: 100%;
}

main>.row{
	margin: 0;
}
main>.row>.col{
	padding: 0;
}
#map-canvas{
	overflow: initial !important; 
}
#search-nav{
	z-index: 998;
}
i.left{
	margin-right: 5px;
}
i.right{
	margin-left: 5px;
}
.topnav .nav-wrapper{
	padding: 0 0 0 10px;
}

.topnav,#search-nav{
	height: 40px;
}
.side-nav li a{
	height: 40px !important;
    line-height: 40px !important
}
.topmenusecond {
    margin-left: 120px
}
.topNavInner {
    line-height: 40px
}
.iconpoint {
    height: 40px !important;
    line-height: 40px !important
}
.topnav .brand-logo{
	font-size: 1.5em;
}
#search-nav{
	position: absolute;
	top: 40px;
}

/**************** login form ****************/
#modallogin .modal-content{
	padding: 0;
}

#modallogin .button-close{
	padding: 0 15px;
}
#modallogin .brand-logo{
	margin-left: 10px;
}
#modallogin .material-icons{
	line-height: 56px;
}
#modallogin .row{
	margin-bottom: 0px;
}

/**************** right menu ****************/
.rightmenu{
	position: absolute;
	right: 0px;
	top: 20px;
	overflow: visible;
}
