/**************** common ****************/
html,body {
	height: 100%;
}


header{
	position: relative;
	overflow: visible;
}
main{
	height: calc( 100% - 40px );
	position: relative;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

i.left{
	margin-right: 5px;
}
i.right{
	margin-left: 5px;
}
.clr{
	float: none;
	clear: both;
}

/**************** custom ****************/
.fixed-action-btn{
	right: initial;
}

/**************** map ****************/
#map-canvas{
	height: 100%;
	width: 100%;
}
main>.row, main>.row>.col{
	margin: 0;
	padding: 0;
}

/**************** top nav ****************/
.topnav .nav-wrapper{
	padding: 0 0 0 10px;
}

.topnav,#search-nav{
	height: 40px;
}
.side-nav li a{
	height: 40px !important;
    line-height: 40px !important
}
.topmenusecond {
    margin-left: 120px
}
.topNavInner {
    line-height: 40px
}
.iconpoint {
    height: 40px !important;
    line-height: 40px !important
}
.topnav .brand-logo{
	font-size: 1.5em;
}
#search-nav{
	position: absolute;
	top: 40px;
	z-index: 998;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
	height: 40px;
    line-height: 40px;
}

/**************** login form ****************/
#modallogin .modal-content{
	padding: 0;
}

#modallogin .button-close{
	padding: 0 15px;
}
#modallogin .brand-logo{
	margin-left: 10px;
}
#modallogin .material-icons{
	line-height: 56px;
}
#modallogin .row{
	margin-bottom: 0px;
}
#modallogin nav, #modallogin nav .nav-wrapper i, #modallogin nav a.button-collapse, #modallogin nav a.button-collapse i{
	height: 64px;
    line-height: 64px;
}

/**************** right panel ****************/
#underwaylist,#anchorlist{
	padding: 0;
}
#underwaylist .collection,#anchorlist .collection{
	margin: 0;
}

/**************** filter panel ****************/
#filtermodel .collection-item:before{
	background: url("images/sprite_medium.png") no-repeat 0 0 transparent;
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}